@import "compass/css3";
@import "compass/reset";
@import "lightbox";
@import "fonts";

* {
    outline: none;
}
html {
    height: 100%;
    background-image: url(../images/main_bg.jpg);
    background-position: center 180px;
    background-repeat: no-repeat;
    background-color: #f3ecf3;   
}
body {
    position: relative;
    height:auto !important;
    height:100%;
    min-height:100%;
    background-image: url(../images/main_pattern.png);
}
.clearfloat {
    display: block;
    height: 0;
    clear: both;
}
.some_input {
    padding: 0 10px;
    height: 26px;
    border: 1px solid #bdbdbd;
}
.some_textarea {
    border: 1px solid #bdbdbd;
    padding: 10px;
    resize: none;
    outline: none;
    font-family: inherit;
}
.hidden {
    display: none;
}
.show {
    display: block;
}
.text_right {
    text-align: right;
}
.text_left {
    text-align: left;
}
.max_index {
    z-index: 1000;
}
.some_btn {
    font-size: 24px;
    color: #fefefe;
    width: 200px;
    height: 50px;
    float: left;
    background-color: #924190;
    cursor: pointer;
    border: none;
    outline: none;
}
.counter {
    width: 47px;
    height: 32px;
    float: left;
    background-color: #fff;
    border: 1px solid #bbbbbb;
    position: relative;
    font-family: "Helveticaneuecyr Medium";
    @include border-radius(3px);
    @include box-shadow(inset rgba(0, 0, 0, 0.11) 0 2px 3px 0);
    .counter_input {
        border: none;
        font-size: 18px;
        color: #6c6c6c;
        width: 47px;
        text-align: center;
        background-color: transparent;
        top: 7px;
        position: absolute;
        font-family: "Helveticaneuecyr Medium";
    }
    .plus {
        position: absolute;
        display: block;
        font-size: 30px;
        color: #924190;
        text-decoration: none;
        right: -24px;
        top: 2px;
    }
    .minus {
        position: absolute;
        display: block;
        float: left;
        font-size: 30px;
        color: #924190;
        text-decoration: none;
        left: -23px;
        top: 3px;
    }
    .label {
        font-size: 14px;
        color: #868686;
        position: absolute;
        font-family: "Helveticaneuecyr Light";
        top: 43px;
        left: -14px;
    }
}
.error {
    color: red;
    font-size: 12px;
    margin-top: 5px;
    margin-bottom: -10px;
}
.mr_b_17 {
    margin-bottom: 17px;
}
.some_title {
    font-size: 30px;
    color: #924190;
    font-family: "Helveticaneuecyr Light";
}
.some_list {
    padding-left: 32px;
    font-size: 14px;
    line-height: 21px;
    color: #909090;
    font-family: "Helveticaneuecyr Light";
    li {
        position: relative;
        margin-bottom: 3px;
        &:before {
            content: '';
            position: absolute;
            display: block;
            width: 21px;
            height: 5px;
            left: -29px;
            top: 6px;
            background-image: url(../images/li_icon.png);
        }
    }
}
.text_editor {
    font-size: 14px;
    line-height: 21px;
    color: #909090;
    font-family: "Helveticaneuecyr Light";
    p {
        margin-bottom: 21px;
    }
    ul {
        padding-left: 57px;
        margin-bottom: 20px;
        li {
            position: relative;
            margin-bottom: 3px;
            &:before {
                content: '';
                position: absolute;
                display: block;
                width: 21px;
                height: 5px;
                left: -29px;
                top: 6px;
                background-image: url(../images/li_icon.png);
            }
        }
    }
    h2 {
        color: #924190;
        font-size: 30px;
        margin-bottom: 20px;
    }
    h3 {
        color: #924190;
        font-size: 18px;
        margin-bottom: 20px;
    }
    img {
        margin-bottom: 20px;
    }
    table {
        font-family: "Helveticaneuecyr Roman";
        margin-bottom: 20px;
        th {
            font-size: 14px;
            color: #924190;
            background-color: #f1edf1;
            padding-top: 11px;
            padding-bottom: 5px;
            padding-left: 13px;
            padding-right: 13px;
            border-right: 3px solid #fff;
        }
        td {
            font-size: 14px;
            color: #6f6f6f;
            border-bottom: 2px solid #e9e4ea;
            padding-left: 13px;
            padding-top: 11px;
            padding-bottom: 5px;
            padding-right: 13px;
            border-right: 3px solid #fff;
        }
    }
}