{% extends 'client/client_base.html.twig' %}

{% block title %}Temptation{% endblock %}

{% block body %}
		<div class="page content">
			<h1 class="page_title">
				НАШИ МАГАЗИНЫ
			</h1>
			<div class="map">
				<div class="title_block">
					На карте
				</div>
				<div class="content_block">	
						<script type="text/javascript" charset="utf-8" 
						async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3Acd9bf847ac3c7573f2b94442269323d27ca937b
												24a6273be4c7187e141add402&amp;width=930&amp;height=320&amp;lang=ru_RU&amp;scroll=true"></script>
					<br/>
   		    	</div>
   		    	
   		    	{% for shop in shops %}
                    <div class="shop_item">
                        <a href="{{ path('client_shop_index', {'id': shop.id}) }}" class="link">
                        </a>
                        <a href="#" class="name">
                            {{ shop.name }}
                        </a>
                        <div class="clearfloat"></div>
                        <div class="info_item">
                        <div class="label">
							Адрес:
						</div>
						<div class="val">
							г. Минск, ул. В. Хоружей, 1А.
						</div>
					</div>
					<div class="info_item">
						<div class="label">
							Телефоны:
						</div>
						<div class="val">
							( +375 44) 555 25 08 
							<br>
							( +375 44) 555 25 06
							<br>
							( +375 44) 555 25 07
						</div>
                        <div class="clearfloat"></div>
                    </div>
                {% endfor %}
   		    	
{#			<div class="shop_item">
				<a href="#" class="image">
					<span class="image_wr">
						<img src="images/uploads/shop_image.jpg" alt="">
					</span>
				</a>
				<div class="info">
					<a href="#" class="name">
						ТЦ «Силуэт»
					</a>
					<div class="clearfloat"></div>
					<div class="info_item">
						<div class="label">
							Адрес:
						</div>
						<div class="val">
							г. Минск, ул. В. Хоружей, 1А.
						</div>
					</div>
					<div class="info_item">
						<div class="label">
							Телефоны:
						</div>
						<div class="val">
							( +375 44) 555 25 08 
							<br>
							( +375 44) 555 25 06
							<br>
							( +375 44) 555 25 07
						</div>
					</div>
				</div>
				<div class="clearfloat"></div>
			</div>
			<div class="shop_item">
				<a href="#" class="image">
					<span class="image_wr">
						<img src="images/uploads/shop_image.jpg" alt="">
					</span>
				</a>
				<div class="info">
					<a href="#" class="name">
						ТЦ «Силуэт»
					</a>
					<div class="clearfloat"></div>
					<div class="info_item">
						<div class="label">
							Адрес:
						</div>
						<div class="val">
							г. Минск, ул. В. Хоружей, 1А.
						</div>
					</div>
					<div class="info_item">
						<div class="label">
							Телефоны:
						</div>
						<div class="val">
							( +375 44) 555 25 08 
							<br>
							( +375 44) 555 25 06
							<br>
							( +375 44) 555 25 07
						</div>
					</div>
				</div>
				<div class="clearfloat"></div>
			</div>
			<div class="shop_item">
				<a href="#" class="image">
					<span class="image_wr">
						<img src="images/uploads/shop_image.jpg" alt="">
					</span>
				</a>
				<div class="info">
					<a href="#" class="name">
						ТЦ «Силуэт»
					</a>
					<div class="clearfloat"></div>
					<div class="info_item">
						<div class="label">
							Адрес:
						</div>
						<div class="val">
							г. Минск, ул. В. Хоружей, 1А.
						</div>
					</div>
					<div class="info_item">
						<div class="label">
							Телефоны:
						</div>
						<div class="val">
							( +375 44) 555 25 08 
							<br>
							( +375 44) 555 25 06
							<br>
							( +375 44) 555 25 07
						</div>
					</div>
				</div>
				<div class="clearfloat"></div>
			</div>
			<div class="clearfloat"></div>
		</div>
   {% endblock %}